**/__pycache__/
*.py[cod]
*$py.class
*.venv/**
.env
.vscode/
*.swp
*__pycache__*
*/venv/
pycache/
*.pyc
*.log
/dist/
/build/

# Local .terraform directory containing downloaded providers
.terraform/

# Terraform lock file containing provider hashes
.terraform.lock.hcl

# Local state files
*.tfstate
*.tfstate.backup

artifacts/*
mysql_report.md
postgres_report.md
db_list.txt